# python operator assignment - 2

Q. 1  calculate the sum, difference, product,and quotient of two number.

In [15]:
x =float(input("enter the first number:"))
y = float(input("enter the second number:"))
sum = x+y
difference = x-y
product = x*y
quotient = x/y

enter the first number:25
enter the second number:5

In [16]:
sum

30.0

In [17]:
difference

20.0

In [18]:
product

125.0

In [19]:
quotient

5.0

Q.2 perform various assignment opertion on a variable

In [47]:
 # assign operaton (=)
x = 10

In [48]:
x

10

In [49]:
#add(+=)
x +=5

In [50]:
x

15

In [51]:
#subtraction (-=)
x = 10
x-=5

In [52]:
x

5

In [53]:
# multiplication(*=)
x = 10
x*=5

In [54]:
x

50

In [55]:
# divide(/=)
x = 10
x/=5

In [56]:
x

2.0

In [57]:
#modulus(%=)
x = 10
x%=5

In [58]:
x

0

In [59]:
# floor division(//=)
x=10
x//=5

In [60]:
x

2

In [61]:
#exponentiation(**=)
x = 10
x**=5

In [62]:
x

100000

In [63]:
#bitwise and (&=)
x = 10
x&=5

In [64]:
x

0

In [66]:
#bitwies or (|=)
x = 10
x|=5

In [67]:
x

15

In [68]:
#bitwise xor (^=)
x =10
x^=5

In [69]:
x

15

In [70]:
#bit. left shift (<<=)
x = 10
x<<=5

In [71]:
x

320

In [72]:
#bit.right shift(>>=)
x = 10
x>>=5

In [73]:
x

0

Q.3 check condition using logical operators

In [74]:
num = int(input("enter a number:"))    #check if number is between 1 and 10
if num >0 and num<11:
    print("the number is in the range")
else:
    print("the number is out of range")

enter a number:10
the number is in the range

In [75]:
num = int(input("enter a number:"))    #check if number is between 1 and 10
if num >0 and num<11:
    print("the number is in the range")
else:
    print("the number is out of range")

enter a number:21
the number is out of range

Q.4 compare two number and print the results

In [76]:
num1 = float(input("enter the first number:"))
num2 = float(input("enter the second number:"))
if num1 >num2:
    print(num1,"is greter than",num2)
elif num1<num2:
    print(num1,"is less than",num2)
else:
    print(num1,"is equal to",num2)

enter the first number:34
enter the second number:50
34.0 is less than 50.0

In [77]:
num1 = float(input("enter the first number:"))
num2 = float(input("enter the second number:"))
if num1 >num2:
    print(num1,"is greter than",num2)
elif num1<num2:
    print(num1,"is less than",num2)
else:
    print(num1,"is equal to",num2)

enter the first number:10
enter the second number:6
10.0 is greter than 6.0

In [78]:
num1 = float(input("enter the first number:"))
num2 = float(input("enter the second number:"))
if num1 >num2:
    print(num1,"is greter than",num2)
elif num1<num2:
    print(num1,"is less than",num2)
else:
    print(num1,"is equal to",num2)

enter the first number:55
enter the second number:55
55.0 is equal to 55.0

Q.5 check identity of variables

In [80]:
x = 10
y = x

In [81]:
print(id(x))

140709306537032

In [82]:
print(id(y))

140709306537032

In [84]:
#ex.2 
x = 10
y = x
print(x is y)
print(x is not y )

True
False

In [85]:
# ex.3
x = 10
y = 10
print(x is y)
print(x==y)

True
True

Q.6 perform bitwise operation on any two integer

In [86]:
x = 10      #1010 in binary
y = 4       #0100 in binary
z = x&y
print(z)

0

 Q.7 use unary operators to chaange the single of a number.

In [87]:
x = 10    #positive number
y = -x   #negative number
print(y)

-10

In [88]:
x = -10   #negative number
y = +x     # same as x
print(y)

-10

Q.8 use the ternary operator to assign value on conditions

In [95]:
# if_else statement in one line
#variable = value_if_true if condition , else value_if_false

x = 10 if y >0 else-10
print(x)

-10